@model ClubPortalMS.Models.ForgotPasswordView
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}


@using (Html.BeginForm("ForgotPassWord", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
 
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <h2>CLB_UEF</h2>
            </div>
            <div class="card-body">
                <h5 class="login-box-msg">Quên mật khẩu</h5>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success" style="background-color:powderblue; color:black;border:1px solid black">
                        @ViewBag.Message
                    </div>
                }
                <form method="post">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <a href="@Url.Action("Login")" class="text-center">Đăng nhập</a>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Xác nhận</button>
                        </div>
                    </div>
                    
                </form>
                </div>
            </div>
        </div>
}
