@model ClubPortalMS.Models.ResetPasswordView
@{
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
@if (ViewBag.Message != null)
{
    <div class="register-box">

        <div class="alert alert-success">
            <strong>Thành công!</strong> @ViewBag.Message
            <p>Bạn có thể <a href="@Url.Action("Login")" class="text-center">Đăng nhập ngay</a> </p>
        </div>
    </div>
}
else{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="register-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <h2>CLB_UEF</h2>
                </div>
                <div class="card-body">
                    <h5 class="login-box-msg">Đặt lại mật khẩu</h5>
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.Message
                        </div>
                    }
                    <form method="post">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Mật khẩu" } })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>

                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Xác nhận mật khẩu" } })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">

                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Xác nhận</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}
