
@{
    ViewBag.Title = "QuanLyThanhVien";
    Layout = "~/Areas/Profile/Views/Shared/_LayoutProfile.cshtml";
}
<div class="header-advance-area-style" style="margin-top:3%">
    <div class="breadcome-area">
        <div class="container-fluids">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list single-page-breadcome">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcome-heading">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul class="breadcome-menu">
                                    <li>
                                        <a href="#">Trang chủ</a> <span class="bread-slash">/</span>
                                    </li>
                                    <li>
                                        <span class="bread-blod">Quản lý thành viên</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Quản lý <span class="table-project-n">Thành</span> Viên</h1>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">

                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="Ảnh đại diện">Ảnh đại diện </th>

                                        <th data-field="Họ và tên" data-editable="true">Họ và tên</th>
                                        <th data-field="Ngày sinh" data-editable="true">Ngày sinh</th>
                                        <th data-field="Mã số sinh viên" data-editable="true">Mã số sinh viên</th>
                                        <th data-field="Số điện thoại" data-editable="true">Số điện thoại</th>
                                        <th data-field="Email" data-editable="true">Email</th>

                                        <th data-field="action">Tác vụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.DsThanhVien)
                                    {
                                    <tr class="sacss">
                                        <td></td>
                                        <td> <img src="@item.ThanhVien.HinhDaiDien" width="50" height="20" alt=""/></td>
                                        <td>@item.ThanhVien.Ho @item.ThanhVien.Ten</td>
                                        <td>@item.ThanhVien.NgaySinh</td>
                                        <td>@item.ThanhVien.MSSV</td>
                                        <td>@item.ThanhVien.SDT</td>
                                        <td>@item.ThanhVien.Mail</td>
                                        <td class="datatable-ct">
                                            <div class="button-ap-list responsive-btn">
                                                <div class="btn-group btn-custom-groups" style="margin-left:26%">
                                                    <a class="btn btn-primary" href="@Url.Action("XemChiTietTV", new { id = item.ThanhVien_CLB.IDtvien })"><i style="font-size:15px" class="fa fa-info-circle" aria-hidden="true"></i></a>

                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                      
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

