@model ClubPortalMS.ViewModel.Sukien.SuKiensViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Sự kiện</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Sự kiện</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Quản lý Sự kiện</h3>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">

                            <table id="table1" class="table table-bordered table-striped">
                                <tr>
                                    <th>Câu lạc bộ</th>
                                    <td>@Html.DisplayFor(model => model.CLB)</td>
                                </tr>
                                <tr>
                                    <th>Tiêu đề</th>
                                    <td>@Html.DisplayFor(model => model.TieuDeSK)</td>
                                </tr>
                                <tr>
                                    <th>Mô tả</th>
                                    <td> @Html.DisplayFor(model => model.MoTa)</td>
                                </tr>
                                <tr>
                                    <th>Nội dung</th>
                                    <td> @Html.DisplayFor(model => model.NoiDung)</td>
                                </tr>
                                <tr>
                                    <th>Tệp đính kèm</th>
                                    <td> <a href="@Url.Action("DocumentDownload", new { id = Model.ID })">@Model.TenFile</a></td>
                                </tr>
                                <tr>
                                    <th>Thời gian bắt đầu</th>
                                    <td> @Html.DisplayFor(model => model.NgayBatDau)</td>
                                </tr>
                                <tr>
                                    <th>Thời gian kết thúc</th>
                                    <td> @Html.DisplayFor(model => model.NgayKetThuc)</td>
                                </tr>
                                <tr>
                                    <th>Địa điểm</th>
                                    <td> @Html.DisplayFor(model => model.DiaDiem)</td>
                                </tr>
                                <tr>
                                    <th>Loại Sự kiện</th>
                                    <td> @Html.DisplayFor(model => model.LoaiSK)</td>
                                </tr>
                            </table>
                            <div class=" col-12">
                                <a style="float:right" data-toggle="modal" data-target="#modal-danger" class="btn btn-app bg-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i> Xóa
                                    @Html.ActionLink("Quay lại", "Index")
                                </a>
                                <a style="float:right" class="btn btn-app bg-info" href="@Url.Action( "Edit", new { id = Model.ID })">
                                    <i class="fas fa-edit"></i> Chỉnh sửa
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="modal-danger">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Cẩn thận!!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background-color:white; color:black">
                <p>Không thể khôi phục dữ liệu nếu đã xóa&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between" style="background-color:white">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy bỏ</button>
                <a type="button" class="btn  btn-danger" href="@Url.Action( "DeleteConfirmed", new { id = Model.ID })">Xóa</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
