
@{

    ViewBag.Title = "Xét duyệt thành viên";
    Layout = "~/Areas/Profile/Views/Shared/_LayoutProfile.cshtml";

}


<div class="header-advance-area-style" style="margin-top:3%">
    <div class="breadcome-area">
        <div class="container-fluids">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list single-page-breadcome">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcome-heading">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul class="breadcome-menu">
                                    <li>
                                        <a href="#">Trang chủ</a> <span class="bread-slash">/</span>
                                    </li>
                                    <li>
                                        <span class="bread-blod">Xét duyệt thành lập CLB</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Xét duyệt <span class="table-project-n">thành lập</span> CLB</h1>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">

                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="Họ và tên" data-editable="true">Họ và tên</th>
                                        <th data-field="Tên Câu lạc bộ" data-editable="true">Tên Câu lạc bộ</th>
                                        <th data-field="Loại Câu lạc bộ" data-editable="true">Loại Câu lạc bộ</th>
                                        <th data-field="Lý do thành lập" data-editable="true">Lý do thành lập</th>

                                        <th data-field="action">Tác vụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.DsDangKyCLB)
                                    {
                                        <tr class="sacss">
                                            <td></td>


                                            <td>@item.DkyCLB.ThanhVien.Ho @item.DkyCLB.ThanhVien.Ten</td>
                                            <td>@item.DkyCLB.TenCLB</td>
                                            <td>@item.LoaiCLB.TenLoaiCLB</td>
                                            <td>@item.DkyCLB.LyDoThanhLap</td>

                                            <td class="datatable-ct">
                                                <div class="button-ap-list responsive-btn">
                                                    <div class="btn-group btn-custom-groups" style="margin-left:26%">
                                                        <a class="btn btn-primary" href="@Url.Action("ThemCLB", new { id = item.DkyCLB.ID })"><i style="font-size:15px" class="fa fa-check-square" aria-hidden="true"></i></a>
                                                        <a class="btn btn-danger" href="@Url.Action("TuChoiCLB", new { id = item.DkyCLB.ID })"><i style="font-size:15px" class="fa fa-times-circle" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div style="margin-top:1%"> @Html.ActionLink("Quay lại", "QLXetDuyetTV_CLB")</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*<section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="callout callout-info">
                        <h5><i class="fas fa-list"></i> Danh sách Đăng ký CLB:</h5>
                        Đây là trang quản lý Đăng ký CLB
                    </div>
                    <div class="invoice p-3 mb-3">
                        <div class="row">
                            <div class="col-12 table table-responsive">
                                <table id="myTable" class="table table-striped table table-bordered table-hover table-sm">
                                    <thead>
                                        <tr>
                                            @foreach (var head in TableHeaders)
                                            {
                                                <th>
                                                    @head
                                                </th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.DsDangKyCLB)
                                        {
                                            <tr>
                                                <td>@item.DkyCLB.ID</td>
                                                <td>@item.DkyCLB.ThanhVien.Ho @item.DkyCLB.ThanhVien.Ten</td>
                                                <td>@item.DkyCLB.TenCLB</td>
                                                <td>@item.LoaiCLB.TenLoaiCLB</td>
                                                <td>@item.DkyCLB.LyDoThanhLap</td>

                                                <td>

                                                    @Html.ActionLink("Xét duyệt", "ThemCLB", new { id = item.DkyCLB.ID }) |
                                                    @Html.ActionLink("Từ chối", "TuChoiCLB", new { id = item.DkyCLB.ID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                @Html.PagedListPager(DsDangKyCLB, page => Url.Action("QLDkyCLB", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

